[Unit]
Description=Flask Application to serve Videos directory
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/usr/bin/python3 /home/ubuntu/webserver.py
Restart=always

[Install]
WantedBy=multi-user.target